{%extends 'hbase.html'%}

{%block template%}
  {{title}} :: {{block.super}}
{%endblock%}

{%block sidebar%}
  {%include 'inc/_hsidebar.html'%}
{%endblock%}

{%block content%}
    {%for i in human%}
      <div class="card text-center">
        <div class="card-header {% cycle 'text-primary' 'text-warning' %}">
          <a href="{{ i.profs.get_absolute_url }}">{{i.profs}}</a>
        </div>
        <div class="card-body" slyle="display:flex">
          <div class="card-title">{{i.fname}} {{i.lname}}</div>
          <div class="card-text">Возраст: {{i.hage}}. Паспорт: {{i.passp}}
          {% if i.hage %}
            <a href="{{i.get_absolute_url}}" class="btn btn-primary">Подробнее...</a>
          {%else%}
            Маловат еще для кнопки
          {%endif%}
          </div>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>
    {%endfor%}
{%endblock%}